<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Js/app.js"></script>
    <script src="~/Js/controllers.js"></script>
    <script src="~/Js/directives.js"></script>
    <script src="~/Js/filters.js"></script>
    <script src="~/Js/services.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</head>
<body ng-app="contactapp">
    <div class="container">
        <ng-view/>
    </div>
</body>
</html>

